.liste-jeux {
    max-width: 60%;
    margin: auto;
}

.jeux-cover {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin: 0 5px;
}

.jeux-cover:hover {
    border-bottom: 2px solid #02d7f2;
}
