.p-autocomplete-input {
    background-color: transparent;
    background-image: url("../../assets/img/Barre_de_Recherche3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 0 none;
    height: 43px;
}

.p-autocomplete-items-wrapper {
    overflow: auto !important;
    scrollbar-width: none;
    font-family: "Audiowide", serif;
}
.p-autocomplete-item {
    background-color: #2e3f3e;

}

.game-suggestions {
    min-width: 600px;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 20px;
    border-top: solid #02d7f2 1px;

}
.p-highlight{
    background-color: #02d7f2;
}
.game-suggestions:hover {
    background-color: #02d7f2;
}

