.container-cart {
    background-image: url("../../assets/img/CartePanier.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    min-height: 230px;
    width: 100%;
    max-width: 1150px;
    overflow: hidden;
    padding: 10px;
    padding-left: 40px;
    padding-right: 80px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
}
.jeu {
    width: 150px;
    height: 170px;
}

.buttonDelete {
    background-image: url("../../assets/img/Bouton_Inscription.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 203px;
    margin-bottom: 40px;
}
