.top-accordion{
    max-width: 80vw;
    min-width: 80vw;
    position: absolute;
    border:#02D7F2 1px solid;
    border-radius:10px;
    background-color: #121214;
}

.p-accordion {
    background-color: #121214;
    padding: 10px;
    border-radius: 8px;
}

.p-accordion-header {
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;


}
.p-accordion-header-text{
    max-width: 80vw;
    min-width: 75vw;
}
.p-accordion-toggle-icon {
    color: #02D7F2;
    margin: 10px;
    width: 25px;
}


.p-accordion-header:hover {
    background-color: #0197B1;
}

.p-accordion-content {
    padding: 10px;
    color: white;
    border-radius: 5px;
}

.accordion-inner-tab .p-accordion-header {
    background-color: #2a2a2a;
    color: #ccc;
}

.accordion-inner-tab .p-accordion-header.p-highlight {
    background-color: #02D7F2;
    color: white;
}

.filter-button {

    color: white;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    border:#02D7F2 1px solid;
}

.filter-button:hover {
    background-color: #0197B1;
}


